.about {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #0b1f3f;
  text-align: center;
  min-height: 400px;
}
.about .about_bax {
  position: relative;
  z-index: 2;
}
.about h2 {
  font-size: 2.5rem;
  color: #eeebeb;
  margin-top: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.about_bax p {
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.8;
  color: #eeebeb;
  font-weight: 200;
  font-style: normal;
  padding: 100px;
}
