
@import url("/css/navbar.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  body {
    background-color: #1b3a73;
  }
}
.cover {
  /* position: sticky; */
  top: 0;
  height: 100vh;
  background-color: #091830;
  background-image:
    linear-gradient(#10274d 1px, transparent 1px),
    linear-gradient(90deg, #10274d 1px, transparent 1px);
  background-size: 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  /* z-index: 1; */
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #091830 0%, #1d478a 100%);
  opacity: 0.75;
}
.float-img {
  position: absolute;
  width: 60px;          /* small size */
  opacity: 0.15;
  animation: float 6s ease-in-out infinite;
  z-index: 2;           /* above overlay */
  pointer-events: none; /* ignore mouse */

}

.f1 {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}

.f2 {
  top: 55%;
  right: 15%;
  width: 80px;
  animation-delay: 2s;
}

.f3 {
  top: 7%;
  left: 40%;
  width: 60px;
  animation-delay: 4s;
}
.f4 {
  bottom: 55%;
  left: 25%;
  width: 140px;
  animation-delay: 4s;
}
.f5 {
  bottom: 15%;
  left: 12%;
  width: 110px;
  animation-delay: 5s;
}
.f6 {
  top: 15%;
  right: 10%;
  width: 50px;
  animation-delay: 4s;
}
.f7 {
  bottom: 10%;
  left: 60%;
  width: 120px;
  animation-delay: 3s;
}
.f8 {
  top: 25%;
  left: 70%;
  width: 80px;
  animation-delay: 4s;
}
.f9 {
  bottom: 25%;
  left: 30%;
  width: 80px;
  animation-delay: 1s;
}
.f10 {
  bottom: 5%;
  right: 5%;
  width: 120px;
  animation-delay: 1s;
}
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


.content {
  z-index: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center; 
  transform: translateY(-30px);
}
.content h1 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #fff;
}
.divider {
  text-align: center;
  color: #fff;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "———";
  display: inline-block;
  vertical-align: middle;
  margin: 0px 2px 1px;
}
.star {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.content h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #fff;
}
.content span {
  font-size: .8rem;
  margin-bottom: 15px;
  color: #6b6a6a;
}
.contact-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.btn {
  padding: 12px 22px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.btn.whatsapp {
  background: #25d366;
}
.btn.viber {
  background: #7360f2;
}
.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(90, 89, 89, 0.1);
  margin-bottom: 2px;
}
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* Responsive */
@media (max-width: 768px) {
  .content h1 {
    font-size: 2.2rem;
  }
}

/* =========== section 2 */
.experience-wrapper {
  position: relative;
  width: 100%;
}

/* FLOATING IMAGE */
.floating-img {
  position: absolute;
  top: -120px;      /* move above */
  left: 0px;      /* left side */

  width: 260px;
  z-index: 10;

  /* border-radius: 18px; */
  /* box-shadow: 0 15px 30px rgba(0,0,0,0.35); */
}

.experience {
  position: relative;
  /* min-height: 30vh; */
  background: #1b3a73; /* outer color */
  border-radius: 16px;
  padding: 20px;
}

.experience::before {
  content: "";
  position: absolute;
  inset: 20px; /* border thickness */
  background: #fff; /* inner color */
  border-radius: 10px;
}
.experience-content {
  position: relative;
  z-index: 2;

  height: 100%;
  padding: 30px;

  display: flex;
  align-items: center;      /* vertical */
  justify-content: center;  /* horizontal */
  text-align: center;
}
.experience-img {
  width: 140px;               /* slightly bigger */
  height: auto;
  flex-shrink: 0;

  transform: translateX(-20px); /* float to left */
  border-radius: 16px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
.experience p {
  color: #10274d;
  position: relative;
  line-height: 1.4;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  /* font-family: "Lobster Two", sans-serif; */
  font-weight: 100;
  margin-left: 190px;
}
@media (max-width: 768px) {
  .floating-img {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 20px;
    display: block;
    
  }

  .experience-content {
    padding: 30px;
    text-align: center;
  }
  .experience p {
    margin-left: 0;
  }
}

/* ========== recent-projects ============ */

.project {
  overflow: hidden; 
  background: #fff; 
    background-image:
    linear-gradient(#faf8f8 1px, transparent 1px),
    linear-gradient(90deg, #faf8f8 1px, transparent 1px);
  background-size: 5px 5px;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: #1b3a73;
  text-decoration: none;
}

.more:hover {
  /* background: #7360f2; */
  color: #0f2753;
}
.recent-projects {
  /* background: #f5f4f4; */
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background: linear-gradient(to bottom, #fff 0%, #FFF 100%);
  /* opacity: 0.55; */
}
.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

/* Image */
.project-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  opacity: 0.55;
  transition: opacity 0.3s ease, transform 0.4s ease;
  border-radius: 8px;
}

/* Button */
.project-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1a386f;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hover effects */
.project-item:hover img {
  opacity: 1;
  transform: scale(1.1);
}

.project-item:hover .project-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1.05);
}
/* ====== repo_social =========== */

#section4 {
  padding: 40px 20px;
  background: #081931;
}

.repo_social {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  flex-wrap: wrap;
}

/* Icon + text wrapper */
.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #333;
}

/* Icon */
.social-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  /* margin-bottom: 6px; */
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon.github {
  /* background: #24292e; */
}

.social-icon.facebook {
  /* background: #1877f2; */
}

.social-icon:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Label */
.social-item span {
  font-weight: 100;
  letter-spacing: 0.3px;
  font-size: 12px;
}

/* Button */
.repo_social .project-btn {
  padding: 10px 22px;
  background: #1a386f;
  color: #490c0c;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.repo_social .project-btn:hover {
  background: #1a386f;
  transform: translateY(-2px);
}

.work-title {
  margin-top: 60px;
  padding-left: 40px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #1b3a73;
  position: relative;
}
.work-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #1b3a73;
  display: block;
  margin-top: 6px;
  border-radius: 2px;
}
.experience-title {
  margin-top: 60px;
  padding-right: 20px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
  position: relative;
  text-align: right;
}
.experience-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #fff;
  display: block;
  margin-top: 6px;
  margin-left: auto; /* ✅ THIS is the fix */
  border-radius: 2px;
}

.list-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #ccc;
  position: relative;
}


/* Optional underline accent */
.deliver_list {
  list-style: none;
  padding: 20px 24px;   /* ← padding for the entire UL */
  margin: 0;
}

.deliver_list p {
  text-align: center;
  margin-bottom: 12px;
  position: relative;
  font-size: 20px;
  line-height: 1.4;
  color: #ccc;
}

.deliver_list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #ccc;
  font-size: 15px;
}


/* ====== footer =========== */

#section5 {
  background: #081931;
}
#section5 hr{
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 60px;
   opacity: 0.15;
}
.express {
  margin-top: -19px;
  width: 18px;
  height: 1px;
}
.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}


